@import 'bootstrap-sass/assets/stylesheets/_bootstrap';
$hero-text-color: #ddd;

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  font-size: 16px;
}

.hero {
  text-align: center;
  min-height: 370px;
  background-color: rgba(0, 0, 0, 0.45);
}

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('../images/door.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: -1;
}

.hero-inner {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  color: $hero-text-color;
  h1 {
    font-size: 4em;
    @media (min-width: $screen-md-min) {
      font-size: 3em;
    }
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 1.5em;
    font-size: 1.5em;
    @media (min-width: $screen-md-min) {
      font-size: 1em;
    }
  }
  h1, h2 {
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
  }
}

.main-body {
  width: 100%;
  background-color: white;
  padding-top: 40px;
  color: #3e4552;
  margin-bottom: 150px;
}

.email {
  text-decoration: underline;
}

p {
  line-height: 1.5em;
}

.form {
  margin-top: 63px;
}

.contact-header {
  margin-top: 0px;
  margin-left: -12px;
  font-weight: 400;
}

.form-horizontal .control-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0.15em;
  @media (min-width: $screen-md-min) {
    font-size: 0.8em;
    font-weight: 200;
  }
}

.form-control {
  @media (min-width: $screen-md-min) {
    font-weight: 200;
  }
}

.btn {
  @media (min-width: $screen-md-min) {
    font-weight: 200;
  }
}

.navbar {
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 0px;
}

.navbar-brand {
  color: $hero-text-color;
  &:hover, &:active {
    color: darken($hero-text-color, 10%);
  }
}
