@import 'bootstrap-sass/assets/stylesheets/_bootstrap';
$hero-text-color: #3e4552;

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  font-size: 16px;
}

.hero {
  text-align: center;
}

h1, h2 {
  font-weight: 200;
}
.hero-inner {
  width: 100%;
  text-align: center;
  color: $hero-text-color;
  h1 {
    font-size: 4em;
    @media (min-width: $screen-md-min) {
      font-size: 3em;
    }
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 1.5em;
    font-size: 1.5em;
    @media (min-width: $screen-md-min) {
      font-size: 1em;
    }
  }
  h1, h2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-body {
  width: 100%;
  background-color: white;
  padding-top: 40px;
  color: #3e4552;
  margin-bottom: 150px;
}

.email {
  text-decoration: underline;
}

p {
  line-height: 1.5em;
}

.form {
  margin-top: 63px;
}

.contact-header {
  margin-top: 0px;
  margin-left: -12px;
  font-weight: 400;
}

.form-horizontal .control-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0.15em;
  @media (min-width: $screen-md-min) {
    font-size: 0.8em;
    font-weight: 200;
  }
}

.form-control {
  @media (min-width: $screen-md-min) {
    font-weight: 200;
  }
}

.btn {
  @media (min-width: $screen-md-min) {
    font-weight: 200;
  }
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand, .navbar a {
  color: $hero-text-color;
  &:hover, &:active, &:visited {
    color: darken($hero-text-color, 10%);
  }
}

.nav > li > a:hover {
  background-color: white;
}
